<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Churchill Primary School - Newsletter Test</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <script type="text/javascript" src="script/suckerfish.js"></script>
  </head>
  <body>
    <div id="page">
      <!--header--> 
      <div class="short" id="content">
        <h1>Newsletter Test</h1>
		
  
 
 
 
 
<h2>CHURCHILL C.E.V.C. PRIMARY SCHOOL</h2> 
Pudding Pie Lane, Langford
Bristol, BS40 5EL 
 
 
Dear Parents,                                                                                                                                            24th June 2009               
 
Summer 9/2009
 
We have a lovely forecast for the next few days so please remember to send in sun hats every day.  
 
Also, the children in Y1, Y3, Y4 and Y5 have been very busy with assessments this week, they have all been working very hard and trying their best.  Reports will be sent home on July 6th.
 
School Worship Theme
 
School worship theme is “building” this week.
 
Well done
 
Weekly certificates have been awarded to:-
 
YR              Missdee Radford-Davies                            Y4              Whole class
Y1              Finley Tyers                                                        Y5              Whole class
Y2              Charlotte Ball                                                        Y6              Ben Blakemore and Freya Bolger
Y3              Bradley Sharp and Lucy John
 
Citizen Cup -              Melissa Harrold Y4
 
SMSA Cup – Alexandra Taylor Y6
 
 
Sports – Football players of the week are -              Daniel Giannetto and Archie Alexander
 
 
GREAT NEWS
 
Charlie Allen
 
Charlie has been selected to take part in the RDA National Horse Riding Championships on        12th July.  This is an incredible achievement and we are very proud of him and wish him lots and lots of luck!  Well done Charlie, we can’t wait to hear all about it.
                            
Jasper Badger
 
Jasper has been selected from hundreds of children in the Bristol area to take part in the Big Show Down at Bristol Hippodrome on 23rd August.  In only 48 hours they will produce and perform a production of Alice in Wonderland.  This raises money for Cancer Research UK and we will let you have further details before the end of term.  Good luck Jasper!  
 
PTA Disco and other information
 
Last chance to boogie this year!  Wear something white or green for Wimbledon.  £2 entry and free squash will be provided.  See you there!
 
                            KS1                   5pm -6pm
                            KS2              6.15pm – 7.15pm
 
 
Please keep Friday 10th July (from 6pm) free to help put up the marquee for our Summer Fair on Saturday 11th July.  Rewards await!
 
Do you have any large boxes that you could bring into school to be used at the Summer Fair?
 
Watch out for more requests from the PTA on their green newsletter.
 
 
T@3
 
A huge thank you to all the Y3 parents who baked and helped and to all of you who supported us by attending.  We raised the grand sum of £240 which will make a great difference to the pot.  
 
Mrs Williams
 
 
Winscombe Youth Theatre
 
Winscombe Youth Theatre are performing “Aladdin Jr” on Friday 26th June (6pm) and Saturday 27th June (12 noon and 3.30pm) at Churchill Community School.
 
Tickets are available from Churchill Community School (01934 852771) or Cleopatras Wardrobe in Winscombe (01934 843193).
 
 
 
Lastly, dates to keep you informed:              
                            
                                                        
                                                        Friday 26th June                            Wrong Trouser Day
                                                        Monday 29th June                            Y6 Drama Day at 
Churchill Community School 
                                                        Friday 3rd July                                          T@3 Y6
                                                        Saturday 11th July                            Summer Fair
 
 
 
 
Yours sincerely,
 
 
 
Mrs V. Tighe
Head Teacher
		
      </div>
      <!--navigation-->
      <!--footer-->
    </div>
  </body>
</html>
